<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Hi {{ user_name or 'there' }},</p>

<p>My name is Arslan and I am the Dev Lead at AutoForm. Thank you for signing up. I wanted to reach out to introduce myself and solicit any feedback good or bad.</p>

<p>We're committed to building the best form building experience, and rely on users like you to let us know how things are going.</p>

<p>Thanks for choosing AutoForm, and looking forward to helping!</p>

<p>Best,<br>
Arslan</p>
</body>
</html>
